{% load jalali_tags  %}
<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box-outer sticky-column">
        <!-- My photo -->
        <div class="sidebar__base-info">
            <figure class="avatar-box">
                <img src="{{ about.avatar.url }}" alt="{{ about.name }}">
            </figure>

            <div class="text-xl-center">
                <h3 class="title title--h3 sidebar__name">{{ about.name }}</h3>
                <div class="badge">{{ about.position }}</div>
            </div>

            <button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>نمایش اطلاعات تماس</span><i class="feathericon-chevron-down"></i></button>
        </div>

        <div class="sidebar__additional-info js-show">
            <div class="separation"></div>
            <ul class="details-info">
                <!-- Email -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-envelope"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">ایمیل</span>
                        <a class="text-overflow" href="mailto:{{ about.email }}" title="{{ about.email }}">{{ about.email }}</a>
                    </div>
                </li>
                <!-- Birthday -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-calendar"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">تاریخ تولد</span>
                        <span class="text-overflow" title="{{ about.birth_date|to_jalali:'%y/%m/%d' }}">{{ about.birth_date|to_jalali:"%Y/%m/%d"  }}</span>
                    </div>
                </li>
                <!-- Location -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-location"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">موقعیت مکانی</span>
                        <span class="text-overflow" title="{{ about.location }}">{{ about.location }}</span>
                    </div>
                </li>
            </ul>
            <div class="separation d-xl-none"></div>

            <!-- Social -->
            <div class="social">
                {% for social_link in social_links %}
                <a class="social__link" href="{{social_link.link }}"><i class="feathericon-{{ social_link.icon }}"></i></a>
                {% endfor %}
            </div>
        </div>	
    </div>	
</aside>